{% extends 'base.html' %}

{% block content %}

<!-- Hero principal a pantalla completa -->
<section class="hero-full">
    <div class="hero-content">
        <h1>Accessible solutions,<br> exceptional results</h1>
        <p>Specialists in roofing, siding and adjustment in Illinois</p>
    </div>
</section>

<!-- HERO SOBRE NOSOTROS ---------------------------------------------->
<section id="about" class="about-hero" data-aos="zoom-in">
    <div class="about-overlay"></div>

    <div class="about-inner">
        <h2 class="about-title">ABOUT&nbsp;US</h2>

        <p class="about-desc" data-aos="fade-right" data-aos-delay="400">
            Experts in roof and home restoration after hailstorms 
            and wind. <br>
            Our mission is <strong>to protect your home </strong> and raise its value with 
            quality materials, transparency and a service that exceeds expectations.
        </p>
    </div>
</section>




<!-- Sección de estimado -->
<section id="estimado" class="seccion">
    <h2><i class="fas fa-phone-alt"></i> Request an estimate</h2>
    <p><i class="fas fa-mobile-alt"></i> Call us at <strong>(331) 529-2639</strong> or click below:</p>
    <a href="Tel: 331 529 2639" class="btn-estimado"><i class="fas fa-phone-volume"></i> Call Now</a>
</section>

<!-- Enlace a galería -->
<section id="galeria" class="seccion">
    <h2><i class="fas fa-images"></i> Projects Gallery</h2>
    <a href="/galeria" class="btn-secundario">View Full Gallery</a>
</section>

{% endblock %}
