{% extends 'base.html' %}

{% block content %}
<section class="seccion">
    <h2>Services we offer</h2>

    <div class="servicios-hero-grid">
        <div class="servicio-hero" style="background-image:url('/static/img/roofing.jpg');">
            <div class="servicio-overlay">
                <h3>Roofing</h3>
                <p>Installation, repair and maintenance of roofs.</p>
            </div>
        </div>
        <div class="servicio-hero" style="background-image:url('/static/img/siding.jpg');">
            <div class="servicio-overlay">
                <h3>Siding</h3>
                <p>Siding options available in vinyl, fiber cement, wood, and metal. Each choice offers a balance of durability and style, tailored to diverse architectural and structural needs.</p>
            </div>
        </div>
        <div class="servicio-hero" style="background-image:url('/static/img/ajustacion.jpg');">
            <div class="servicio-overlay">
                <h3>Adjustment</h3>
                <p>Claim management and communication with insurance companies.</p>  
            </div>
        </div>
        <!-- Gutters -->
    <div class="servicio-hero" style="background-image:url('/static/img/gutters.jpg');">
        <div class="servicio-overlay">
            <h3>Gutters</h3>
            <p>Cleaning, replacement, and gutter protection services.</p>
        </div>
    </div>

     <!-- Drywall -->
     <div class="servicio-hero" style="background-image:url('/static/img/drywall.jpg');">
        <div class="servicio-overlay">
            <h3>Drywall</h3>
            <p>Professional drywall installation and finishing.</p>
        </div>
    </div>

    <!-- Electrical -->
    <div class="servicio-hero" style="background-image:url('/static/img/electrical.jpg');">
        <div class="servicio-overlay">
            <h3>Electrical</h3>
            <p>Upgrades and repairs of electrical systems.</p>
        </div>
    </div>

    <!-- Plumbing -->
    <div class="servicio-hero" style="background-image:url('/static/img/plumbing.jpg');">
        <div class="servicio-overlay">
            <h3>Plumbing</h3>
            <p>Professional plumbing solutions and emergency services.</p>
        </div>
    </div>

    <!-- Solar panels -->
    <div class="servicio-hero" style="background-image:url('/static/img/solar.jpg');">
        <div class="servicio-overlay">
            <h3>Solar Panels</h3>
            <p>Professional installation and maintenance of solar systems.</p>
        </div>
    </div>

    <!-- Flooring -->
    <div class="servicio-hero" style="background-image:url('/static/img/flooring.jpg');">
        <div class="servicio-overlay">
            <h3>Flooring</h3>
            <p>Installation of luxury and high-durability flooring.</p>
        </div>
    </div>
    
    </div>
</section>
{% endblock %}
